.ion-header {
    background-color: var(--ion-color-primary);
    padding: auto;

    margin-bottom: 20px;
    color:white

}
.header-md {
    background-color: var(--ion-color-primary);
    padding: 20px;
    margin-bottom: 20px;
    color:white
}


.in-toolbar{

     background-color: var(--ion-color-primary);
     padding: 0px;
     text-align: center;
     margin: auto;
     color:white;
}

.toolbar-title-default {
    background-color: var(--ion-color-primary);
    padding: 0px;
    text-align: center;
    margin: auto;
    color:white;
}

.toolbar-content{
    color:white;
}

.title-default {
    padding: 5px;
    color:black;
}

.button-solid {
    padding-left: 70%;
    
}

.first-title{
    text-align: center;
    font-weight: bold;
}